.container{
	margin-top: 100px;

}

.col-lg-3{
	background-color: #999999;
	border: 4px solid black;
	margin-right: 5px;
	margin-bottom: 5px;

}

#col1,#col2,#col3{
	width: 400px;

}

.float-right{
	float: right;
	margin-right: -12px;
	width: 70px;
	text-align: center;
    background-color: #D59898;	
    border-left: 3px  solid black;
    border-bottom: 3px  solid black;
   
}

.float-right1{
	float: right;
	margin-right: -12px;
	width: 70px;
	text-align: center;
    background-color: #C14543;	
    border-left: 3px  solid black;
    border-bottom: 3px  solid black;
   
}

.float-right2{
	float: right;
	margin-right: -12px;
	width: 70px;
	text-align: center;
    background-color: #E5D198;	
    border-left: 3px  solid black;
    border-bottom: 3px  solid black;
   
}

.col-lg-3 b{
color: black;

}

.float-right1 b{
color: white;

}